body {
	text-align: center;
	background: #000;
	background-size: cover;
	color: #fff;
	font-size: 16px;
	font-family: helvetica;
	font-weight: normal;

}
h3 {
	font-size: 24px;
}
#LeaderTitle {
	font-weight: 300;
	font-style: italic;
}
hr {
	width: 400px;
}