body {
	text-align: center;
	background: url(http://static2.businessinsider.com/image/562a9308bd86ef1c008c45c8/why-steam-rises-from-new-york-citys-streets.jpg);
	background-size: cover;
	color: #fff;
	font-family: helvetica;

}